<div class="row container-fluid py-3" style="width: 100vw">
  <div class="col-4">

    <div id="chart-gauge" class="gauge"></div>
    <label class="d-flex justify-content-center">Operational</label>

  </div>
  <div class="col-4">
    <div id="comp-chart-gauge" class="gauge"></div>
    <label class="d-flex justify-content-center">Compliance</label>
  </div>
  <div class="col-4">

    <div id="legal-chart-gauge" class="gauge"></div>
    <label class="d-flex justify-content-center">Legal</label>

  </div>